<form [formGroup]="questionForm">
  <div fxLayout="column" fxLayoutAlign="center center" class='py-24'>
    <div class='font-size-28 pb-24 primary-text-color '>Practice Math Problems</div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Number of Questions</mat-label>
          <mat-select formControlName='questionNumbers'>
            <mat-option *ngFor="let num of questionNumbers" [value]="num.value">
              {{num.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="questionForm.get('questionNumbers').touched && questionForm.get('questionNumbers').hasError('required')">
            How many questions do you want?</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Difficulty</mat-label>
          <mat-select formControlName='difficulty'>
            <mat-option *ngFor="let num of difficulty" [value]="num.value">
              {{num.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="questionForm.get('difficulty').touched && questionForm.get('difficulty').hasError('required')">Choose
            Difficulty</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div>
      <button matTooltip="Generate random question to practice" mat-raised-button color='primary' class='w-220 h-40'
        (click)='generateQuestions()'>GENERATE
        QUESTIONS</button>
    </div>
    <div *ngIf='IsQuizRunning' class='pt-16'>
      <button (click)='finishQuiz()' matTooltip="Finish Quiz and see results" mat-raised-button color='accent' class='w-220 h-40'>FINISH QUIZ</button>
    </div>

  </div>

</form>

<div *ngIf='IsQuizRunning' fxLayout="column" fxLayoutAlign="center center" class='pb-16'>
  <div class='p-12 border-radius-10-p font-size-20 custom-border'>Answered / Total : {{solvedAnswerCount}} / {{GeneratedQuestions.length}}</div>
</div>

<div *ngIf='isQuizFinished' fxLayout="column" fxLayoutAlign="center center" class='pb-16'>
    <div class='p-12 border-radius-10-p font-size-20 custom-border'>Score : {{correctAnswer}} / {{GeneratedQuestions.length}}</div>
  </div>


<div *ngIf='GeneratedQuestions' fxLayout="column" fxLayoutAlign="center center">

  <div *ngFor='let content of GeneratedQuestions.slice(first, last);let i=index;  '>

    <mat-card [class.mat-elevation-z10]="true" class="font-size-12 w-470 mb-12">
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="16px">
        <div class='font-size-16'>
          {{content.questionNumber}}
        </div>
        <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="8px">
          <div class='font-size-16'> Solve for x for the following equation {{content.question.parsed}} </div>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="54px">






            <div>
              <mat-form-field appearance="outline">
                <input matInput [formControl]="answer[first+i]" type='text' class='font-size-16'>

              </mat-form-field>
            </div>















            <div *ngIf='!content.isAnswered && !isQuizFinished' class='pb-16'> <button (click)='turnInAnswer(content.questionNumber)'
                matTooltip="Turn in current answer" mat-mini-fab color="primary"
                class='font-size-12 accepted-color-background'><i class="material-icons">
                  get_app
                </i></button>
            </div>
            <div *ngIf='content.isAnswered && !isQuizFinished' class='pb-16'> <button matTooltip="Turned in" mat-mini-fab color="accent"
                class='font-size-12 '><i class="material-icons">
                  done_outline
                </i></button>
            </div>
            <div *ngIf='content.isCorrect && isQuizFinished' class='pb-16'> <button matTooltip="Turned in" mat-mini-fab 
              class='font-size-12 accepted-color-background'><i class="material-icons">
                done_outline
              </i></button>
          </div>
          <div *ngIf='!content.isCorrect && isQuizFinished' class='pb-16'> <button matTooltip="Turned in" mat-mini-fab 
            class='font-size-12 rejected-color-background'><i class="material-icons">
                highlight_off
                </i></button>
        </div>
          </div>
          <div *ngIf='isQuizFinished' class='font-size-16 ' >
            Given Answer: <span *ngIf='content.isCorrect ' class='accepted-color'>{{content.givenAnswer}} </span> <span *ngIf='!content.isCorrect ' class='rejected-color'>{{content.givenAnswer}} </span>
           
          </div>
          <div *ngIf='isQuizFinished' class='font-size-16 '>
              Correct Answers:  <span class='accepted-color'>{{content.question.solution}} </span>
          </div>
        </div>
      </div>
    </mat-card>


  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="48px" class='py-24'>
    <button matTooltip="Go to previous page" mat-fab (click)='Back()'><i class="material-icons">
        keyboard_arrow_left
      </i></button>
    <button matTooltip="Go to next page" mat-fab (click)='Forward()'><i class="material-icons">
        keyboard_arrow_right
      </i></button>
  </div>
</div>