<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
  fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <div class="h-176 primary-background mb-80">
      <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="white-color-foreground">
        <div>{{title}}</div>

        <div *ngIf="drawer.opened">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
          </div>
      </mat-toolbar>

      <div fxLayout="row" fxLayoutAlign="center center" class="mb-48 mt-46 ">
        <img class="border-radius-50-p w-120 h-120 profile-picture-border" src="../../../assets/images/profile_img_avatar.png"
          alt="Upload Profile Picture">

      </div>
    </div>
    <mat-nav-list>
      <div *ngFor="let content of sidebar;let i = index">
        <!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px"> -->
            
                <a mat-list-item (click)="route(content.url) ; selectRow(i)" [class.active]="i == selectedRow" class="cursor-pointer px-24 font-size-16">
                    <i class="material-icons-outlined mr-16">
                        {{content.icon}}
                        </i>
                 <span> {{content.name}}</span>
                
                </a>

        <!-- </div> -->
      </div>
      <!-- <mat-button-toggle-group  *ngFor="let content of sidebar">
          <mat-button-toggle mat-list-item (click)="route(content.url)" value="${content.name}"  class="cursor-pointer px-24 font-size-16">{{content.name}}</mat-button-toggle>
        </mat-button-toggle-group> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>


    <mat-toolbar color="primary" class="h-64 w-100-p ">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px" class="w-100-p">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
          <div *ngIf="!drawer.opened">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
          </div>
          <div class='cursor-pointer'>
            <span *ngIf="!drawer.opened">Math Planet</span>
            <div *ngIf="drawer.opened" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
              <div>MP</div>
            <div><i class="material-icons">
                whatshot
                </i></div> 
              
              </div>

          </div>
        </div>
        <div [matMenuTriggerFor]="menu" fxLayout="row" fxLayoutAlign="center center" class="mr-64">
          <mat-icon class="material-icons-rounded cursor-pointer">
            account_circle
          </mat-icon>
          <button mat-button class="font-size-16">{{Username}}</button>
          <mat-icon class="material-icons-rounded cursor-pointer">
            arrow_drop_down
            </mat-icon>
          <mat-menu #menu="matMenu" class="w-180 mt-16">
            <!-- <button mat-menu-item>
              <div (click)="route(menuItems.profile.url)">{{menuItems.profile.name}}</div>
            </button> -->
            <button mat-menu-item>
              <div (click)="route(menuItems.changeAccount.url)">{{menuItems.changeAccount.name}}</div>
            </button>
            <button mat-menu-item>
              <div (click)="logout()">{{menuItems.logout.name}}</div>
            </button>
            
          </mat-menu>
        </div>
      </div>

    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>