<div fxLayout="column" fxLayoutAlign="center stretch " class='margin-auto p-64' fxLayoutGap="16px">

  <div fxLayout="column" fxLayoutAlign="center stretch " fxLayoutGap="24px">
    <div>

      <div *ngIf='!isValid' fxLayout="column" fxLayoutAlign="center center " fxLayoutGap="12px"
        class='dropzone p-24 margin-auto h-200' dropZone (hovered)="toggleHover($event)"
        (dropped)="fileSelected($event)" [class.hovering]="isHovering">
        <div class='font-size-20'>
          Drag and Drop your picture
        </div>
        <div class="file">
          <label class="file-label">
            <input class="file-input" type="file" (change)="fileSelected($event)">

            <span class="file-cta">
              <span class="file-icon">
                <i class="fa fa-upload"></i>
              </span>
              <span class="file-label">
                or choose a file…
              </span>
            </span>
          </label>

        </div>
      </div>

      <div *ngIf='isValid' fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
        <div class='w-100-p'>
          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false"
            format="jpeg" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()" [aspectRatio]="4 / 3"
            [autoCrop]="true">
          </image-cropper>
        </div>
        <div>
          <img [src]="croppedImage" id='croppedImage' />

        </div>
      </div>


    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
      <button mat-raised-button color="warn" class='w-200' (click)='upload()'>UPLOAD</button>
      <button *ngIf='isValid' mat-stroked-button color="primary" class='w-200' (click)='reupload()'>REUPLOAD</button>

    </div>
  </div>

  <form [formGroup]="equationForm">
    <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="12px">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex='20' ngClass='mat-icon-for-input font-size-20' [ngClass.lt-lg]="['font-size-14' ,'mat-icon-for-input']">
          Equation: </div>
        <div fxFlex='80'>
          <mat-form-field appearance="outline">
            <!-- <mat-label>Parsed Equation</mat-label> -->
            <input matInput type='text' formControlName='equation' class='font-size-24'>
          </mat-form-field>
        </div>


      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex='20' ngClass='mat-icon-for-input font-size-20' [ngClass.lt-lg]="['font-size-14','mat-icon-for-input']">Solution:
        </div>
        <div fxFlex='80'>

          <mat-form-field appearance="outline">
            <!-- <mat-label>Solution</mat-label> -->

            <input matInput type='text' formControlName='solution' class='font-size-24'>
          </mat-form-field>
        </div>

      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" class='w-200' (click)='solve()'>SOLVE</button>
      </div>
    </div>
  </form>






</div>