$primary-oshop: (
	50 : #e4e5eb,
	100 : #bdbfcd,
	200 : #9194ac,
	300 : #64698a,
	400 : #434871,
	500 : #222858,
	600 : #1e2450,
	700 : #191e47,
	800 : #14183d,
	900 : #0c0f2d,
	A100 : #6975ff,
	A200 : #3646ff,
	A400 : #0317ff,
	A700 : #0012e9,
	contrast:
		(
			50 : #000000,
			100 : #000000,
			200 : #000000,
			300 : #ffffff,
			400 : #ffffff,
			500 : #ffffff,
			600 : #ffffff,
			700 : #ffffff,
			800 : #ffffff,
			900 : #ffffff,
			A100 : #000000,
			A200 : #ffffff,
			A400 : #ffffff,
			A700 : #ffffff
		)
);
$accent-oshop: (
	50 : #e4e5eb,
	100 : #bdbfcd,
	200 : #9194ac,
	300 : #64698a,
	400 : #3e3e42,
	500 : #222858,
	600 : #1e2450,
	700 : #191e47,
	800 : #14183d,
	900 : #0c0f2d,
	A100 : #6975ff,
	A200 : #3646ff,
	A400 : #0317ff,
	A700 : #0012e9,
	contrast:
		(
			50 : #000000,
			100 : #000000,
			200 : #000000,
			300 : #ffffff,
			400 : #ffffff,
			500 : #ffffff,
			600 : #ffffff,
			700 : #ffffff,
			800 : #ffffff,
			900 : #ffffff,
			A100 : #000000,
			A200 : #ffffff,
			A400 : #ffffff,
			A700 : #ffffff
		)
);

$primary-color:#222858;
$secondary-color:#0072D0;
$third-color:#288cd6;
$accepted-color:#2bd057;
$rejected-color:#f44336;
$white-color: white;
$black-color:black;