<div class='p-64'>

  <div fxLayout="column" fxLayoutAlign="center center" class='font-size-36 pb-36'>
    Welcome to Math Planet
  </div>

  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4 p-24">
    <mat-tab label=" How to use?">
      <div class='p-40'>
        <!-- <div class='font-size-24 mb-16'>Introduction</div>
        <hr>
        <div class='font-size-20 mb-16'>Math planet helps solve user’s handwritten equations and expressions.</div>
        <div class='font-size-20 mb-16'>Though there are some drawbacks and lackings due to its development phase, it is
          still quite handy. </div>
        <div class='font-size-20 mb-16'>The following are the major features of Math Planet.</div> -->


        <div class='font-size-24 my-20 pt-12'>Upload Module</div>
        <hr>
        <mat-list>
          <mat-list-item> <i class="material-icons mr-8">
              fiber_manual_record
            </i> Go to upload module by clicking the <span class='rejected-color mx-4'> UPLOAD </span> button on the
            sidenav. </mat-list-item>
          <mat-list-item> <i class="material-icons mr-8">
              fiber_manual_record
            </i> Drag and drop a picture that contains a picture of equation or arithmetic expression. </mat-list-item>
          <mat-list-item> <i class="material-icons mr-8">
              fiber_manual_record
            </i> You can also upload by clicking <span class='rejected-color mx-4'> choose a file </span> and browsing
            for a single picture </mat-list-item>
          <mat-list-item> <i class="material-icons mr-8">
              fiber_manual_record
            </i> Crop the selected picture and click <span class='rejected-color mx-4'> UPLOAD </span> to parse the text
            in the image.</mat-list-item>
          <mat-list-item> <i class="material-icons mr-8">
              fiber_manual_record
            </i> The text will show in the equation field along with solution if it exists.</mat-list-item>

          <mat-list-item> <i class="material-icons mr-8">
              fiber_manual_record
            </i> You can manually edit the equation if needed and click <span class='rejected-color mx-4'> SOLVE </span>
            to see different results</mat-list-item>
          <mat-list-item> <i class="material-icons mr-8">
              fiber_manual_record
            </i> Furthermore if you are registered you can save the image and solution by clicking <span
              class='rejected-color mx-4'> SAVE </span> which shows below.</mat-list-item>
        </mat-list>
        <div class='font-size-24 my-20 pt-12'>Draw Module</div>
        <hr>
        <mat-list>
          <mat-list-item> <i class="material-icons mr-8">
              fiber_manual_record
            </i> Go to draw module by clicking the <span class='rejected-color mx-4'> DRAW </span> button on the
            sidenav. </mat-list-item>
          <mat-list-item> <i class="material-icons mr-8">
              fiber_manual_record
            </i> Draw on the <span class='rejected-color mx-4'> CANVAS </span> </mat-list-item>
          <mat-list-item> <i class="material-icons mr-8">
              fiber_manual_record
            </i> You can select <span class='rejected-color mx-4'> ERASER </span> to remove stroke. <span
              class='rejected-color mx-4'> PENCIL </span> to draw stroke. <span class='rejected-color mx-4'> CLEAR
            </span> to clean the canvas</mat-list-item>
          <mat-list-item> <i class="material-icons mr-8">
              fiber_manual_record
            </i> Click <span class='rejected-color mx-4'> UPLOAD </span> after finishing drawing on the canvas
          </mat-list-item>
          <mat-list-item> <i class="material-icons mr-8">
              fiber_manual_record
            </i> The rest is same as UPLOAD module</mat-list-item>

          <mat-list-item> <i class="material-icons mr-8">
              fiber_manual_record
            </i> You can manually edit the equation if needed and click <span class='rejected-color mx-4'> SOLVE </span>
            to see different results</mat-list-item>
          <mat-list-item> <i class="material-icons mr-8">
              fiber_manual_record
            </i> Furthermore if you are registered you can save the image and solution by clicking <span
              class='rejected-color mx-4'> SAVE </span> which shows below.</mat-list-item>
        </mat-list>

        <div class='font-size-24 my-20 pt-12'>Previous History</div>
        <hr>
        <mat-list>
          <mat-list-item> <i class="material-icons mr-8">
              fiber_manual_record
            </i> If you are <span class='rejected-color mx-4'> REGISTERED </span> user you can see a <span
              class='rejected-color mx-4'> HISTORY </span> tab which will show your saved contents </mat-list-item>
          <mat-list-item> <i class="material-icons mr-8">
              fiber_manual_record
            </i> You can delete any content by clicking the <span class='rejected-color mx-4'> TRASH </span> icon on the
            right of the content </mat-list-item>

        </mat-list>
        <div class='font-size-24 my-20 pt-12'>Math practice section</div>
        <hr>
        <mat-list>
          <mat-list-item> <i class="material-icons mr-8">
              fiber_manual_record
            </i> You can practice solving equations and expressions in the <span class='rejected-color mx-4'> PRACTICE
            </span> tab.</mat-list-item>
          <mat-list-item>
            <i class="material-icons mr-8"> fiber_manual_record</i>
            Choose <span class='rejected-color mx-4'> QUESTION NUMBER </span> and <span class='rejected-color mx-4'>
              DIFFICULTY </span> and click <span class='rejected-color mx-4'> GENERATE </span> questions
          </mat-list-item>
          <mat-list-item>
            <i class="material-icons mr-8"> fiber_manual_record</i>
            You can <span class='rejected-color mx-4'> DIRECTLY </span> answer or <span class='rejected-color mx-4'>
              select question number </span> and <span class='rejected-color mx-4'> DRAW </span> on the right canvas.
          </mat-list-item>
          <mat-list-item>
            <i class="material-icons mr-8"> fiber_manual_record</i>
            <span class='rejected-color mx-4'> TURN IN </span> answers if you are sure. Click <span
              class='rejected-color mx-4'> FINISH </span> quiz if you are done practicing.
          </mat-list-item>
          <mat-list-item>
            <i class="material-icons mr-8"> fiber_manual_record</i>
            Click <span class='rejected-color mx-4'> RIGHT </span> and <span class='rejected-color mx-4'> LEFT </span>
            to see more questions
          </mat-list-item>
        </mat-list>
      </div>


    </mat-tab>
    <mat-tab label="What It CAN do">
      <div class='p-40'>
        <mat-list>
          <mat-list-item> <i class="material-icons mr-8"> fiber_manual_record </i> Parse image containing the following
            symbols x,y,=,-,+,0,1,2,3,4,5,6,7,8,9 </mat-list-item>
          <mat-list-item> <i class="material-icons mr-8"> fiber_manual_record </i> Identify multplication between two
            numbers only </mat-list-item>
          <mat-list-item> <i class="material-icons mr-8"> fiber_manual_record </i> Auto Differentiate if x and y exists
          </mat-list-item>
          <mat-list-item> <i class="material-icons mr-8"> fiber_manual_record </i> Solve x or y if equal sign exists
          </mat-list-item>
          <mat-list-item> <i class="material-icons mr-8"> fiber_manual_record </i> Division is possible only by drawing
            denominator and nominator wise</mat-list-item>

        </mat-list>
      </div>
    </mat-tab>

    <mat-tab label="What It can NOT do">
      <div class='p-40'>

        <mat-list>
          <mat-list-item> <i class="material-icons mr-8"> fiber_manual_record </i> Can not do integration
          </mat-list-item>
          <mat-list-item> <i class="material-icons mr-8"> fiber_manual_record </i> Can not idenitfy most mathematical
            symbols </mat-list-item>
          <mat-list-item> <i class="material-icons mr-8"> fiber_manual_record </i> Can not check for square if its
            already in a division format </mat-list-item>
          <mat-list-item> <i class="material-icons mr-8"> fiber_manual_record </i> Can not identify dot or decimal point
          </mat-list-item>
          <mat-list-item> <i class="material-icons mr-8"> fiber_manual_record </i> Can not parse noisy image
          </mat-list-item>


        </mat-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

