::ng-deep .mat-select-panel{
    margin-left:30px !important;
    margin-top:16px !important;
}


:host{
    ::ng-deep international-phone-number {
        .input-group {
            border: 1px solid #ced4da;
            border-radius: 6px;
            height: 100%;
            max-width: 200px ;
            // max-width: 100% !important;
            min-width: 200px ;
        }
        .input-group .input-group-addon .dropdown {
            height: 100%;
        }
        .input-group .input-group-addon .dropdown .dropbtn {
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 12px;
            padding-right: 0px;
            height: 100%;
        }
        .input-group .input-group-addon .dropdown .dropbtn .arrow-down {
            margin: 8px;
        }
        .form-control {
        border: none;
        padding-left: 8px;
        font-size:14px;
        }
    }
}
