mat-cell {
    display: flex !important;
    justify-content: center !important;
  }
  
  mat-header-cell {
    display: flex;
    justify-content: center;
  }
  mat-paginator {
    height: 64px !important;
  }